h1{
    color: rgb(130, 225, 238);
    border: 1px solid green;
}

p{
    font-size:35px ;
    border: 1px solid rgb(57, 245, 151);
}
.parrafoRojo{
    font-size:20px ;
    border: 1px solid rgb(255, 0, 0);
}
.parrafoNaranja{
    color: rgb(214, 121, 78);
    background-color: rgb(226, 255, 60);
    border: yellow;
    font-size: 20px;
    padding-bottom: 120px;
}