body{
    background-color: rgb(27, 151, 252);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5em;
}

.fondoBlanco{
    background-color: white;
}

.fondoAzul{
    background-color: rgb(40, 80, 255);
}

.fondoNegro{
    background-color: black;
    text-align: center;
    color: aliceblue;
    border-radius: 15px;
    margin-top: 0px;
    padding-top: 5px;
}

.imagen{
    width: 120px;
}

.texto1{
    text-align: center;
    font-size: 3em;
    color: rgb(18, 148, 235);
}

.texto2{
    font-size: 1em;
    color: white;
    background-color: rgb(74, 62, 250);
    text-align: justify;
}

.separacion{
    padding: 1em;
}

.texto3{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;  
}

.borde{
    border: 10px solid white;
    border-radius: 10px;
}

.bordeAzul{
    border: 2px solid rgb(8, 209, 155);
    border-radius: 5px;
}

.bordeAzul2{
    border: 2px solid rgb(73, 7, 255);
    border-radius: 5px;
}

li{
    margin: 10px;
}